extends ../includes/layout

block main-content
  section.content
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="/") MultiVision
            h6 -Extreme Tech Training
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home

    div(ng-view)
  h2= mongoMessage